body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}
.about{
    
    border-bottom:100px solid rgb(89, 90, 11);
    display: flex;
    background-image: linear-gradient(red,orange,white,yellow);
    
}
.wel{
    color:rgb(31, 31, 182);
}
h1{
   font-size: 50px;
}
.yellow{
    color: rgb(100, 28, 100);
}
.text{
    width: 50%;
    padding: 20px;   
}
.para{
    margin-bottom: 30px;
    
}
.btn{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(crimson,purple);
    border-radius: 5px;
    font-weight: 700px;
    
    
}
.btn-two{
    color:darkred;
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(red,yellow);
    border-radius: 5px;
    font-weight: 700px;
}
.image{
    
    width: 50%;
    text-align: center;
    
    
}
.image img{
    width: 80%;
   
}
h2{
    font-size: 35px;
}
.tom{
    border-bottom:100px solid rgb(54, 31, 136);
     display: flex;
    background-image: linear-gradient(navy ,skyblue, white,rgb(33, 33, 160));
}
.text-two{
    width: 50%;
    padding: 20px;
}
.para-two{
    padding-right: 20px;;
    margin-right: 80px;
    margin-bottom: 30px;
}
.tnj{
    overflow:auto;

    border-bottom:100px solid rgb(69, 70, 7);
    
    background-image: linear-gradient(red,rgb(221, 210, 190),rgb(211, 199, 199),rgb(212, 212, 9));
}
.x{
    display: flex;
    
}

.tommy{
    padding: 20px;
    margin: 80px;
    
   
    border-radius: 5px;
    box-shadow: 10px 10px 40px red;
}
#slice{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(251, 255, 4),rgb(124, 5, 5));
    border-image-slice: 1;
    
}
footer
{
    overflow:auto;
    text-align: center;
    background-image: linear-gradient(purple,yellow,red,white);
}
